section {
    border: 1px solid lightgray;
}
.container {
    display: inline-block;
}

a {
    color:cornflowerblue;
}

.link {
    margin-right: 20px;
}

#box {
    background-color: grey;
    color: lightgrey;
    height: 220px;
    width: 220px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
}